*.pyc
*/__pycache__/
*/venv/
*/*/venv/
*/*/__pycache__/
*/*/.venv/
*/*/.DS_Store
*/*/.env
*/*/.env.local
*/*/.env.development.local
*/*/.env.test.local
*/*/.env.production.local
*/.venv/
*/.DS_Store
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
1-lesson/fastapi/venv/
1-lesson/venv/

*/.DS_Store
.DS_Store